
body{
    
    font-family: Arial;
    color: white;
}
h1{
    margin-bottom:30px;
}
.move-icon{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 80px;
    background-color: black;
    border:none;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.move-img{
    height:50px;

}
.js-result{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}
