
body{
    font-family: Arial;
    background-color: black;
    color: white;
}
h1{
    margin-bottom:30px;
}
.move-icon{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 80px;
    background-color: black;
    border:none;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.move-img{
    height:50px;

}
.js-result{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.playerMove, .computerMove{
    height:60px;
}
.js-score{
    margin-top:20px;
    margin-bottom:20px;
}
.reset{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;

}
